<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tydic.dao.InfoUserMapper" >
  <resultMap id="BaseResultMap" type="com.tydic.bean.InfoUser" >
    <id column="USER_ID" property="userId" jdbcType="VARCHAR" />
    <result column="TELE_TYPE" property="teleType" jdbcType="VARCHAR" />
    <result column="DEVICE_NUMBER" property="deviceNumber" jdbcType="VARCHAR" />
    <result column="USER_PWD" property="userPwd" jdbcType="VARCHAR" />
    <result column="USER_STATUS" property="userStatus" jdbcType="VARCHAR" />
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
    <result column="ACTIVE_DATE" property="activeDate" jdbcType="TIMESTAMP" />
    <result column="USER_TYPE" property="userType" jdbcType="VARCHAR" />
    <result column="PREPAY_FLAG" property="prepayFlag" jdbcType="VARCHAR" />
    <result column="LOCAL_NET" property="localNet" jdbcType="VARCHAR" />
    <result column="DEVELOP_CHANNEL_ID" property="developChannelId" jdbcType="VARCHAR" />
    <result column="PROTO_FLAG" property="protoFlag" jdbcType="VARCHAR" />
    <result column="SUB_USER_STATUS" property="subUserStatus" jdbcType="VARCHAR" />
    <result column="STOP_DATE" property="stopDate" jdbcType="TIMESTAMP" />
    <result column="VALID_FLAG" property="validFlag" jdbcType="VARCHAR" />
    <result column="PRODUCT_ID" property="productId" jdbcType="VARCHAR" />
    <result column="OPERATORS_TYPE" property="operatorsType" jdbcType="VARCHAR" />
    <result column="MAIN_OFR_ID" property="mainOfrId" jdbcType="VARCHAR" />
    <result column="BRAND_CODE" property="brandCode" jdbcType="VARCHAR" />
    <result column="FLAG_4G" property="flag4g" jdbcType="VARCHAR" />
    <result column="DEVELOP_NUMBER" property="developNumber" jdbcType="VARCHAR" />
    <result column="THIRD_CHANNEL_CODE" property="thirdChannelCode" jdbcType="VARCHAR" />
    <result column="USER_MON_LIMIT" property="userMonLimit" jdbcType="DECIMAL" />
    <result column="MON_LIMIT_FLAG" property="monLimitFlag" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    USER_ID, TELE_TYPE, DEVICE_NUMBER, USER_PWD, USER_STATUS, CREATE_DATE, ACTIVE_DATE, 
    USER_TYPE, PREPAY_FLAG, LOCAL_NET, DEVELOP_CHANNEL_ID, PROTO_FLAG, SUB_USER_STATUS, 
    STOP_DATE, VALID_FLAG, PRODUCT_ID, OPERATORS_TYPE, MAIN_OFR_ID, BRAND_CODE, FLAG_4G, 
    DEVELOP_NUMBER, THIRD_CHANNEL_CODE, USER_MON_LIMIT, MON_LIMIT_FLAG
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.tydic.bean.InfoUserExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from INFO_USER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from INFO_USER
    where USER_ID = #{userId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from INFO_USER
    where USER_ID = #{userId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.tydic.bean.InfoUserExample" >
    delete from INFO_USER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.tydic.bean.InfoUser" >
    insert into INFO_USER (USER_ID, TELE_TYPE, DEVICE_NUMBER, 
      USER_PWD, USER_STATUS, CREATE_DATE, 
      ACTIVE_DATE, USER_TYPE, PREPAY_FLAG, 
      LOCAL_NET, DEVELOP_CHANNEL_ID, PROTO_FLAG, 
      SUB_USER_STATUS, STOP_DATE, VALID_FLAG, 
      PRODUCT_ID, OPERATORS_TYPE, MAIN_OFR_ID, 
      BRAND_CODE, FLAG_4G, DEVELOP_NUMBER, 
      THIRD_CHANNEL_CODE, USER_MON_LIMIT, MON_LIMIT_FLAG
      )
    values (#{userId,jdbcType=VARCHAR}, #{teleType,jdbcType=VARCHAR}, #{deviceNumber,jdbcType=VARCHAR}, 
      #{userPwd,jdbcType=VARCHAR}, #{userStatus,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{activeDate,jdbcType=TIMESTAMP}, #{userType,jdbcType=VARCHAR}, #{prepayFlag,jdbcType=VARCHAR}, 
      #{localNet,jdbcType=VARCHAR}, #{developChannelId,jdbcType=VARCHAR}, #{protoFlag,jdbcType=VARCHAR}, 
      #{subUserStatus,jdbcType=VARCHAR}, #{stopDate,jdbcType=TIMESTAMP}, #{validFlag,jdbcType=VARCHAR}, 
      #{productId,jdbcType=VARCHAR}, #{operatorsType,jdbcType=VARCHAR}, #{mainOfrId,jdbcType=VARCHAR}, 
      #{brandCode,jdbcType=VARCHAR}, #{flag4g,jdbcType=VARCHAR}, #{developNumber,jdbcType=VARCHAR}, 
      #{thirdChannelCode,jdbcType=VARCHAR}, #{userMonLimit,jdbcType=DECIMAL}, #{monLimitFlag,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tydic.bean.InfoUser" >
    insert into INFO_USER
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="teleType != null" >
        TELE_TYPE,
      </if>
      <if test="deviceNumber != null" >
        DEVICE_NUMBER,
      </if>
      <if test="userPwd != null" >
        USER_PWD,
      </if>
      <if test="userStatus != null" >
        USER_STATUS,
      </if>
      <if test="createDate != null" >
        CREATE_DATE,
      </if>
      <if test="activeDate != null" >
        ACTIVE_DATE,
      </if>
      <if test="userType != null" >
        USER_TYPE,
      </if>
      <if test="prepayFlag != null" >
        PREPAY_FLAG,
      </if>
      <if test="localNet != null" >
        LOCAL_NET,
      </if>
      <if test="developChannelId != null" >
        DEVELOP_CHANNEL_ID,
      </if>
      <if test="protoFlag != null" >
        PROTO_FLAG,
      </if>
      <if test="subUserStatus != null" >
        SUB_USER_STATUS,
      </if>
      <if test="stopDate != null" >
        STOP_DATE,
      </if>
      <if test="validFlag != null" >
        VALID_FLAG,
      </if>
      <if test="productId != null" >
        PRODUCT_ID,
      </if>
      <if test="operatorsType != null" >
        OPERATORS_TYPE,
      </if>
      <if test="mainOfrId != null" >
        MAIN_OFR_ID,
      </if>
      <if test="brandCode != null" >
        BRAND_CODE,
      </if>
      <if test="flag4g != null" >
        FLAG_4G,
      </if>
      <if test="developNumber != null" >
        DEVELOP_NUMBER,
      </if>
      <if test="thirdChannelCode != null" >
        THIRD_CHANNEL_CODE,
      </if>
      <if test="userMonLimit != null" >
        USER_MON_LIMIT,
      </if>
      <if test="monLimitFlag != null" >
        MON_LIMIT_FLAG,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="teleType != null" >
        #{teleType,jdbcType=VARCHAR},
      </if>
      <if test="deviceNumber != null" >
        #{deviceNumber,jdbcType=VARCHAR},
      </if>
      <if test="userPwd != null" >
        #{userPwd,jdbcType=VARCHAR},
      </if>
      <if test="userStatus != null" >
        #{userStatus,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="activeDate != null" >
        #{activeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="userType != null" >
        #{userType,jdbcType=VARCHAR},
      </if>
      <if test="prepayFlag != null" >
        #{prepayFlag,jdbcType=VARCHAR},
      </if>
      <if test="localNet != null" >
        #{localNet,jdbcType=VARCHAR},
      </if>
      <if test="developChannelId != null" >
        #{developChannelId,jdbcType=VARCHAR},
      </if>
      <if test="protoFlag != null" >
        #{protoFlag,jdbcType=VARCHAR},
      </if>
      <if test="subUserStatus != null" >
        #{subUserStatus,jdbcType=VARCHAR},
      </if>
      <if test="stopDate != null" >
        #{stopDate,jdbcType=TIMESTAMP},
      </if>
      <if test="validFlag != null" >
        #{validFlag,jdbcType=VARCHAR},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=VARCHAR},
      </if>
      <if test="operatorsType != null" >
        #{operatorsType,jdbcType=VARCHAR},
      </if>
      <if test="mainOfrId != null" >
        #{mainOfrId,jdbcType=VARCHAR},
      </if>
      <if test="brandCode != null" >
        #{brandCode,jdbcType=VARCHAR},
      </if>
      <if test="flag4g != null" >
        #{flag4g,jdbcType=VARCHAR},
      </if>
      <if test="developNumber != null" >
        #{developNumber,jdbcType=VARCHAR},
      </if>
      <if test="thirdChannelCode != null" >
        #{thirdChannelCode,jdbcType=VARCHAR},
      </if>
      <if test="userMonLimit != null" >
        #{userMonLimit,jdbcType=DECIMAL},
      </if>
      <if test="monLimitFlag != null" >
        #{monLimitFlag,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.tydic.bean.InfoUserExample" resultType="java.lang.Integer" >
    select count(*) from INFO_USER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update INFO_USER
    <set >
      <if test="record.userId != null" >
        USER_ID = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.teleType != null" >
        TELE_TYPE = #{record.teleType,jdbcType=VARCHAR},
      </if>
      <if test="record.deviceNumber != null" >
        DEVICE_NUMBER = #{record.deviceNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.userPwd != null" >
        USER_PWD = #{record.userPwd,jdbcType=VARCHAR},
      </if>
      <if test="record.userStatus != null" >
        USER_STATUS = #{record.userStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null" >
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.activeDate != null" >
        ACTIVE_DATE = #{record.activeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.userType != null" >
        USER_TYPE = #{record.userType,jdbcType=VARCHAR},
      </if>
      <if test="record.prepayFlag != null" >
        PREPAY_FLAG = #{record.prepayFlag,jdbcType=VARCHAR},
      </if>
      <if test="record.localNet != null" >
        LOCAL_NET = #{record.localNet,jdbcType=VARCHAR},
      </if>
      <if test="record.developChannelId != null" >
        DEVELOP_CHANNEL_ID = #{record.developChannelId,jdbcType=VARCHAR},
      </if>
      <if test="record.protoFlag != null" >
        PROTO_FLAG = #{record.protoFlag,jdbcType=VARCHAR},
      </if>
      <if test="record.subUserStatus != null" >
        SUB_USER_STATUS = #{record.subUserStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.stopDate != null" >
        STOP_DATE = #{record.stopDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.validFlag != null" >
        VALID_FLAG = #{record.validFlag,jdbcType=VARCHAR},
      </if>
      <if test="record.productId != null" >
        PRODUCT_ID = #{record.productId,jdbcType=VARCHAR},
      </if>
      <if test="record.operatorsType != null" >
        OPERATORS_TYPE = #{record.operatorsType,jdbcType=VARCHAR},
      </if>
      <if test="record.mainOfrId != null" >
        MAIN_OFR_ID = #{record.mainOfrId,jdbcType=VARCHAR},
      </if>
      <if test="record.brandCode != null" >
        BRAND_CODE = #{record.brandCode,jdbcType=VARCHAR},
      </if>
      <if test="record.flag4g != null" >
        FLAG_4G = #{record.flag4g,jdbcType=VARCHAR},
      </if>
      <if test="record.developNumber != null" >
        DEVELOP_NUMBER = #{record.developNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.thirdChannelCode != null" >
        THIRD_CHANNEL_CODE = #{record.thirdChannelCode,jdbcType=VARCHAR},
      </if>
      <if test="record.userMonLimit != null" >
        USER_MON_LIMIT = #{record.userMonLimit,jdbcType=DECIMAL},
      </if>
      <if test="record.monLimitFlag != null" >
        MON_LIMIT_FLAG = #{record.monLimitFlag,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update INFO_USER
    set USER_ID = #{record.userId,jdbcType=VARCHAR},
      TELE_TYPE = #{record.teleType,jdbcType=VARCHAR},
      DEVICE_NUMBER = #{record.deviceNumber,jdbcType=VARCHAR},
      USER_PWD = #{record.userPwd,jdbcType=VARCHAR},
      USER_STATUS = #{record.userStatus,jdbcType=VARCHAR},
      CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      ACTIVE_DATE = #{record.activeDate,jdbcType=TIMESTAMP},
      USER_TYPE = #{record.userType,jdbcType=VARCHAR},
      PREPAY_FLAG = #{record.prepayFlag,jdbcType=VARCHAR},
      LOCAL_NET = #{record.localNet,jdbcType=VARCHAR},
      DEVELOP_CHANNEL_ID = #{record.developChannelId,jdbcType=VARCHAR},
      PROTO_FLAG = #{record.protoFlag,jdbcType=VARCHAR},
      SUB_USER_STATUS = #{record.subUserStatus,jdbcType=VARCHAR},
      STOP_DATE = #{record.stopDate,jdbcType=TIMESTAMP},
      VALID_FLAG = #{record.validFlag,jdbcType=VARCHAR},
      PRODUCT_ID = #{record.productId,jdbcType=VARCHAR},
      OPERATORS_TYPE = #{record.operatorsType,jdbcType=VARCHAR},
      MAIN_OFR_ID = #{record.mainOfrId,jdbcType=VARCHAR},
      BRAND_CODE = #{record.brandCode,jdbcType=VARCHAR},
      FLAG_4G = #{record.flag4g,jdbcType=VARCHAR},
      DEVELOP_NUMBER = #{record.developNumber,jdbcType=VARCHAR},
      THIRD_CHANNEL_CODE = #{record.thirdChannelCode,jdbcType=VARCHAR},
      USER_MON_LIMIT = #{record.userMonLimit,jdbcType=DECIMAL},
      MON_LIMIT_FLAG = #{record.monLimitFlag,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.tydic.bean.InfoUser" >
    update INFO_USER
    <set >
      <if test="teleType != null" >
        TELE_TYPE = #{teleType,jdbcType=VARCHAR},
      </if>
      <if test="deviceNumber != null" >
        DEVICE_NUMBER = #{deviceNumber,jdbcType=VARCHAR},
      </if>
      <if test="userPwd != null" >
        USER_PWD = #{userPwd,jdbcType=VARCHAR},
      </if>
      <if test="userStatus != null" >
        USER_STATUS = #{userStatus,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="activeDate != null" >
        ACTIVE_DATE = #{activeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="userType != null" >
        USER_TYPE = #{userType,jdbcType=VARCHAR},
      </if>
      <if test="prepayFlag != null" >
        PREPAY_FLAG = #{prepayFlag,jdbcType=VARCHAR},
      </if>
      <if test="localNet != null" >
        LOCAL_NET = #{localNet,jdbcType=VARCHAR},
      </if>
      <if test="developChannelId != null" >
        DEVELOP_CHANNEL_ID = #{developChannelId,jdbcType=VARCHAR},
      </if>
      <if test="protoFlag != null" >
        PROTO_FLAG = #{protoFlag,jdbcType=VARCHAR},
      </if>
      <if test="subUserStatus != null" >
        SUB_USER_STATUS = #{subUserStatus,jdbcType=VARCHAR},
      </if>
      <if test="stopDate != null" >
        STOP_DATE = #{stopDate,jdbcType=TIMESTAMP},
      </if>
      <if test="validFlag != null" >
        VALID_FLAG = #{validFlag,jdbcType=VARCHAR},
      </if>
      <if test="productId != null" >
        PRODUCT_ID = #{productId,jdbcType=VARCHAR},
      </if>
      <if test="operatorsType != null" >
        OPERATORS_TYPE = #{operatorsType,jdbcType=VARCHAR},
      </if>
      <if test="mainOfrId != null" >
        MAIN_OFR_ID = #{mainOfrId,jdbcType=VARCHAR},
      </if>
      <if test="brandCode != null" >
        BRAND_CODE = #{brandCode,jdbcType=VARCHAR},
      </if>
      <if test="flag4g != null" >
        FLAG_4G = #{flag4g,jdbcType=VARCHAR},
      </if>
      <if test="developNumber != null" >
        DEVELOP_NUMBER = #{developNumber,jdbcType=VARCHAR},
      </if>
      <if test="thirdChannelCode != null" >
        THIRD_CHANNEL_CODE = #{thirdChannelCode,jdbcType=VARCHAR},
      </if>
      <if test="userMonLimit != null" >
        USER_MON_LIMIT = #{userMonLimit,jdbcType=DECIMAL},
      </if>
      <if test="monLimitFlag != null" >
        MON_LIMIT_FLAG = #{monLimitFlag,jdbcType=VARCHAR},
      </if>
    </set>
    where USER_ID = #{userId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tydic.bean.InfoUser" >
    update INFO_USER
    set TELE_TYPE = #{teleType,jdbcType=VARCHAR},
      DEVICE_NUMBER = #{deviceNumber,jdbcType=VARCHAR},
      USER_PWD = #{userPwd,jdbcType=VARCHAR},
      USER_STATUS = #{userStatus,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      ACTIVE_DATE = #{activeDate,jdbcType=TIMESTAMP},
      USER_TYPE = #{userType,jdbcType=VARCHAR},
      PREPAY_FLAG = #{prepayFlag,jdbcType=VARCHAR},
      LOCAL_NET = #{localNet,jdbcType=VARCHAR},
      DEVELOP_CHANNEL_ID = #{developChannelId,jdbcType=VARCHAR},
      PROTO_FLAG = #{protoFlag,jdbcType=VARCHAR},
      SUB_USER_STATUS = #{subUserStatus,jdbcType=VARCHAR},
      STOP_DATE = #{stopDate,jdbcType=TIMESTAMP},
      VALID_FLAG = #{validFlag,jdbcType=VARCHAR},
      PRODUCT_ID = #{productId,jdbcType=VARCHAR},
      OPERATORS_TYPE = #{operatorsType,jdbcType=VARCHAR},
      MAIN_OFR_ID = #{mainOfrId,jdbcType=VARCHAR},
      BRAND_CODE = #{brandCode,jdbcType=VARCHAR},
      FLAG_4G = #{flag4g,jdbcType=VARCHAR},
      DEVELOP_NUMBER = #{developNumber,jdbcType=VARCHAR},
      THIRD_CHANNEL_CODE = #{thirdChannelCode,jdbcType=VARCHAR},
      USER_MON_LIMIT = #{userMonLimit,jdbcType=DECIMAL},
      MON_LIMIT_FLAG = #{monLimitFlag,jdbcType=VARCHAR}
    where USER_ID = #{userId,jdbcType=VARCHAR}
  </update>
</mapper>